body{
    text-align:center;
    background-color:lightblue;
}

#headding{
    font-size: 30px;
    font-family: cursive;
    letter-spacing: 5px;
    border-radius: 10px;
    background-color: rgb(188, 253, 232);
    width: 500px;
    height: 80px;
    text-align: center;
}

#info{
    color: darkred;
}

#info_2{
    color: darkred;
}